name: ci demo

# Run when code is pushed to the main branch
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  print-message:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print hello message
        run: |
          echo "Hello, CI with GitHub Actions!"
