name: cron test and echo

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch:   

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository and echo
        uses: actions/checkout@v4
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run tests
        run: python -m unittest discover .
  echo:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Echo success message
        run: echo "Scheduled build completed successfully!"
