name: Run Python version Tests - matrix

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - python: 3.7
            os: windows-latest
          - python: 3.8
            os: ubuntu-latest
          - python: 3.9
            os: ubuntu-latest
          - python: '3.10'
            os: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: python -m unittest discover tests

      - name: Echo success message
        run: echo "Scheduled test completed successfully for Python ${{ matrix.python }} on ${{ matrix.os }}!"
