name: Matrix python version test Workflow

on:
  push:
    branches:
      - main

jobs:
  runs-on: ubuntu-latest
    container: debian:latest 

    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10']

    steps:
      - name: container dependencies
        run: |
          apt-get update
          apt-get install -y git curl

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: python -m unittest discover tests

      - name: echo
        run: echo "Scheduled test completed successfully for Python ${{ matrix.python-version }}"
